.cart {
    margin-top: 200px;
}

.carts {
    margin: 55px 0;
}

.cartd {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    max-width: 1000px;
    border-radius: 4px;
    margin-left: 70px;
}

.cartd__right {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 580px;
}

.items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1170px;
    border-radius: 4px;
    box-shadow: 0px 1px 13px 0px rgba(0, 0, 0, 0.05);
    background: rgb(255, 255, 255);
    margin: 10px auto;
    padding: 2px 10px;
}

.items__img {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.items__img p {
    width: 203px;
    color: rgb(0, 0, 0);
    font-family: Poppins;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: left;
}

.items h3 {
    color: rgb(0, 0, 0);
    font-family: Poppins;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: left;
}

.inc__dec {
    display: flex;
    width: 80px;
    height: 54px;
    border: 1.5px solid rgba(0, 0, 0, 0.4);
    border-radius: 4px;
    align-items: center;
    justify-content: space-around;
    padding: 10px 0;
    margin: 5px 0;
}

.dec button {
    display: block;
    font-size: 20px;
}

.items button {
    background: transparent;
    font-size: 20px;
}

.cart__img {
    width: 80px;
    height: 80px;
}

.subtotal h3 {
    width: 250px;
    text-align: center;
}

.cars {
    display: none;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 15px;
    margin: 33px 0;
}

.itemss {
    width: 250px;
    height: 238px;
    border: 1px solid #222;
    padding: 10px;
}

.cartt__img {
    display: flex;
    width: 80px;
    height: 80px;
    margin: 0px auto;
}

.itemss__img p {
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    color: rgb(0, 0, 0);
    font-family: Poppins;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: center;
}

.itemss h3 {
    display: inline-block;
    color: rgb(38, 38, 38);
    font-family: Poppins;
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    letter-spacing: 0%;
    text-align: left;
    padding: 3px 0px;
}

.inc__decc {
    display: flex;
    width: 60px;
    height: 54px;
    border: 1.5px solid rgba(0, 0, 0, 0.4);
    border-radius: 4px;
    align-items: center;
    justify-content: space-around;
    padding: 10px 0;
    margin: 5px 0;
    margin-left: 150px;
    margin-top: -55px;
}

.decc button {
    display: block;
    font-size: 20px;
    background: transparent;
}

.decc__button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: transparent;
    border: 1px solid #ddd;
    transition: .5s;
}

.decc__button:hover {
    background: #ff0000;
}

@media screen and (max-width: 500px) {
    .items {
        display: flex;
    }
}

.card__content {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.content__right {
    width: 100%;
    max-width: 377.1px;
    padding: 10px;
    box-shadow: 0 0 10px #ddd;
    margin: 20px 0;
    margin-top: 50px;
    border-radius: 8px;
}

.sub {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 15px 0;
}

.sub h4 {
    color: rgb(38, 38, 38);
    font-family: Poppins;
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    letter-spacing: 0%;
    text-align: left;
}

.sub h2 {
    color: rgb(34, 38, 42);
    font-family: Poppins;
    font-size: 30px;
    font-weight: 500;
    line-height: 45px;
    letter-spacing: 0%;
    text-align: left;
}

.content__right button {
    width: 100%;
    height: 60px;
    background: rgb(51, 160, 255);
    color: rgb(0, 0, 0);
    font-family: Poppins;
    font-size: 18px;
    font-weight: 500;
    line-height: 27px;
    letter-spacing: 0%;
    text-align: center;
    border-radius: 8px;
}

.checkout button {
    width: 300px;
    height: 50px;
    margin: 5px auto;
    border-radius: 10px;
    background: #ff0000;
    color: rgb(255, 255, 255);
    font-family: Nunito;
    font-size: 24px;
    font-weight: 800;
    line-height: 33px;
    letter-spacing: -2%;
    text-align: center;
}

.checkout__form {
    margin: 5px auto;
    width: 100%;
    border-radius: 10px;
    background: rgb(255, 255, 255);
    padding: 30px 80px;
}

.checkout h1 {
    width: 100%;
    max-width: 600px;
    height: 51.53px;
    color: rgb(64, 191, 255);
    font-family: Raleway;
    font-size: 32px;
    font-weight: 600;
    line-height: 38px;
    letter-spacing: 0px;
    text-align: center;
    margin: 20px auto;
    margin-bottom: 0;
    text-transform: capitalize;
}

.fullname {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    margin: 20px auto;
    margin-top: -30px;
}

.fullname input {
    width: 100%;
    max-width: 380.99px;
    height: 50px;
    border-radius: 10px;
    background: rgb(223, 222, 222);
    opacity: 0.3;
    padding: 2px 20px;
}

.adrec {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    margin: 20px auto;
}

.adrec h2 {
    width: 206.49px;
    color: rgb(64, 191, 255);
    font-family: Raleway;
    font-size: 20px;
    font-weight: 600;
    line-height: 23px;
    letter-spacing: 0px;
    text-align: left;
    text-transform: capitalize;
    margin: 10px 0;
}

.addrc input {
    width: 100%;
    max-width: 215px;
    height: 50px;
    border-radius: 10px;
    background: rgb(223, 222, 222);
    opacity: 0.3;
    padding: 2px 20px;
}

.adrec input {
    display: inline-block;
    width: 100%;
    max-width: 215px;
    height: 50px;
    border-radius: 10px;
    background: rgb(223, 222, 222);
    opacity: 0.3;
    padding: 2px 20px;
}

.checkout__form textarea {
    width: 100%;
    height: 122.52px;
    border-radius: 10px;
    background: rgb(223, 222, 222);
    opacity: 0.3;
    padding: 20px;
}

.select__card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 350px;
    margin: 15px auto;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 0 10px #ddd;
    transition: .5s ease-in-out;
}

.select__card:hover {
    background: rgb(235, 240, 255);
}

.select__title {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.cart__empty {
    display: flex;
    width: 100%;
    max-width: 600px;
    justify-content: center;
    align-items: center;
    margin: 35px auto;
}