.footerbr {
    margin: 45px auto;
    margin-bottom: 0;
}

.footerbr h3 {
    color: rgb(56, 88, 214);
    font-family: Inter;
    font-size: 16px;
    font-weight: 500;
    line-height: 19px;
    letter-spacing: 0%;
    text-align: center;
}

.footerbr h2 {
    color: rgb(30, 29, 29);
    font-family: Inter;
    font-size: 36px;
    font-weight: 700;
    line-height: 44px;
    letter-spacing: 0%;
    text-align: center;
}